.calcdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 500px;
    padding: 1%;
    border: 1px solid rgb(3, 3, 3);
    background-color: rgb(66, 65, 65);
    border-radius: 20px;
   
}
.calc_inpdiv{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.calc_inpdiv > input{
     width: 80%;
     height: 30px;
     background-color: rgb(192, 189, 184);
     padding: 1%;
     border: none;
     /* border-radius: 10px; */
     /* border-color: 2px solid black; */
}

.calc_btndiv{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5%;
    width: 80%;
    align-items: center;
    margin: 0px auto;
}
.calc_btndiv button{
     border: none;
     background-color: white;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     font-weight: 900;
     font-size: 20px;
     text-align: center;
     padding: 1%;
}
.calc_btndiv button:hover{
    background-color: rgb(148, 4, 16);
    color: rgb(245, 201, 151);
}